@model List<WebAppTareas.Models.TareaViewModel>
<head>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
@{
    ViewData["Title"] = "Lista de Categorias";
}

<h2>Lista de Tareas</h2>

@if (ViewData["Error"] != null)
{
    <div class="alert alert-danger">@ViewData["Error"]</div>
}

<table class="table table-striped">
    <thead>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Prioridad de tarea</th>
        <th>Fecha de creación</th>
        <th>Categoria</th>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var tarea in Model)
            {
                <tr id="row-@tarea.TareaId">
                    <td>
                        <span class="text">@tarea.NombreTarea</span>
                        <input type="text" class="form-control d-none" name="NombreTarea" value="@tarea.NombreTarea" />
                    </td>
                    <td>
                        <span class="text">@tarea.DescripcionTarea</span>
                        <input type="text" class="form-control d-none" name="DescripcionTarea" value="@tarea.DescripcionTarea" />
                    </td>
                    <td>
                        <span class="text">@tarea.PrioridadTarea</span>
                        <select name="PrioridadTarea" class="form-control d-none">
                            <option value="Baja" selected="@(tarea.PrioridadTarea == TareaViewModel.Prioridad.Baja ? "selected" : null)">Baja</option>
                            <option value="Media" selected="@(tarea.PrioridadTarea == TareaViewModel.Prioridad.Media ? "selected" : null)">Media</option>
                            <option value="Alta" selected="@(tarea.PrioridadTarea == TareaViewModel.Prioridad.Alta ? "selected" : null)">Alta</option>
                        </select>
                    </td>
                    <td>@tarea.FechaCreacionTarea</td>
                    <td>
                        <span class="text">@tarea.NombreCategoria</span>
                        <select name="NombreCategoria" class="form-control d-none">
                        </select>
                        <input type="hidden" name="CategoriaId" value="@tarea.CategoriaId" />
                    </td>
                    <td>
                        <button class="btn btn-warning btn-sm" onclick="habilitarEdicion('@tarea.TareaId')">Editar</button>
                        <button class="btn btn-success btn-sm d-none" onclick="guardarEdicion('@tarea.TareaId')">Guardar</button>
                        <button class="btn btn-danger btn-sm" onclick="eliminarTarea('@tarea.TareaId')">Eliminar</button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
    
    <button id="toggleFormBtn" 
            class="btn btn-primary mb-3" 
            type="button">
        <i class="fas fa-plus-circle"></i> Agregar tarea
    </button>

    <div id="formContainer" style="display: none;">
        <h2>Rellene el formulario</h2>
        <form id="formAgregarTarea">
            <div class="form-group">
                <label for="nombreTarea">Nombre de la tarea</label>
                <input type="text" class="form-control" id="nombreTarea" name="NombreTarea" required>
            </div>
            <div class="form-group">
                <label for="descripcionTarea">Descripción</label>
                <input type="text" class="form-control" id="descripcionTarea" name="DescripcionTarea">
            </div>
            <div class="form-group">
                <label for="prioridadTarea">Prioridad</label>
                <select class="form-control" id="prioridadTarea" name="PrioridadTarea" required>
                    <option value="Baja">Baja</option>
                    <option value="Media">Media</option>
                    <option value="Alta">Alta</option>
                </select>
            </div>
            <div class="form-group">
                <label for="categoriaTarea">Categoría</label>
                <select class="form-control" id="categoriaTarea" name="CategoriaId" required>
                    <!-- Las opciones se llenarán dinámicamente con JavaScript -->
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Agregar Tarea</button>
        </form>
    </div>


@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/tarea.js"></script>
}
